h1= title
script(type="text/javascript")
	var socket = io.connect();
	function toarr(hash, reverse) {
		var r=[];
		$.each( hash, function(k,v) {
			r.push( [k, v] );
		});
		if(arguments.length>0 && reverse) {
			r.sort( function(a, b) {
				return b[0]-a[0];
			} );
		} else {
			r.sort( function(a, b) {
				return a[0]-b[0];
			} );
		}	
		return r;
	}
script(type="text/javascript")
		socket.on('elements', function (data) {
			console.log('elements received');
			$('.elements').empty();
			$('#sliders').empty();
			$.each(toarr(data, true), function(i, item) {
				if(!item) { return true; }
				var key=item[0];
				var v=item[1];
				if (v != null)
				$('#sliders').append('<fieldset data-role="controlgroup"><label for="' + v + '">' + v + '</label><input type="range" name="slider" id="' + v + '" class="slider" value="50" min="0" max="100" data-highlight="false" />');
			});
			$('.elements').listview('refresh');
			$("#sliders").trigger("create");
		});

script(type="text/javascript")		
	socket.on('changevalue', function (data) {
	//console.log('data id = ' + data.id);
		id = '#' + data.id;
		$(id).val(data.val);
		$(id).slider('refresh');
	});		

script(type="text/javascript")
		var lastEmit = $.now();
		$(".slider").live('change', function(event) {
			console.log('lastEmit = ' + lastEmit + ' / now = ' + $.now());
			if($.now() - lastEmit > 30){
				console.log('id = ', this.id);
				id = this.id;
				val = $(this).val();
				socket.emit('slidervaluechanged', {
					'id': id, 
					'val': val
				})
				lastEmit = $.now();
			}
			console.log(id + ': ' + val);
		});	

div#page1(data-role='page')
	div(data-role='content')
		div(data-role='fieldcontain')
			fieldset#sliders(data-role='controlgroup')